@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 1600px;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #131313;
  background-color: #e5e5e5;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

/* Header styles */
.header-nav {
  display: grid;
  grid-template-columns: 225px 1fr;
  column-gap: 50px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 36px;
  padding-top: 47px;
  padding-bottom: 47px;
  list-style: none;
}

.nav-link {
  font: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

/* Content styles */
.article {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px 40px;
  padding-top: 102px;
}
.article-title {
  font-size: 48px;
  line-height: 1.3;
  font-weight: 800;
  margin-bottom: 30px;
}

.article-subtitle {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
}

.article-header,
.article-text,
.article-img-horizontal {
  grid-column: span 2;
}

.article-img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.article-img-big {
  grid-column: 3 / -1;
  grid-row: 1 / 3;
}

.article-img-big-horizontal {
  grid-column: 1 / -1;
}

/* Footer styles */
.footer-wrap {
  display: grid;
  grid-template-columns: 225px 1fr;
  align-items: center;
}

.footer-copyright {
  justify-self: end;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 0px;
  padding-bottom: 5px;
}
