/* Variables */
:root {
  --basic-bg: #e5e5e5;
  --footer-bg: #dedbd9;
  --text-color: #211e1d;
  --border-color: rgba(33, 30, 29, 0.2);
}

/* Global */
.page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-body {
  display: grid;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  min-width: 1370px;
  min-height: 100vh;
  font-family: Manrope, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  background-color: var(--basic-bg);
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.container {
  width: 1370px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Page header */
.header {
  grid-row-start: header;
}

.header-nav {
  display: grid;
  grid-template-columns: [header-logo] 1fr [site-menu] 2fr [user-menu] 1fr;
  align-items: center;
  min-height: 136px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-logo {
  grid-column-start: header-logo;
  justify-self: start;
  display: flex;
}

.site-menu {
  grid-column-start: site-menu;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  color: var(--text-color);
  font-weight: 500;
  list-style: none;
}

.site-menu-link {
  color: inherit;
  text-decoration: none;
  padding: 0 5px;
}

.user-menu {
  grid-column-start: user-menu;
  justify-self: end;
  display: flex;
  column-gap: 25px;
  list-style: none;
}

.user-menu-link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.link-entrance {
  background-image: url(assets/svg/entrance.svg);
}

.link-favorites {
  background-image: url(assets/svg/favourite.svg);
}

.link-cart {
  background-image: url(assets/svg/basket.svg);
}

/* Page main content */
.main {
  grid-row-start: main;
}

.main-title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
}

/* Filters */
.filters-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 32px;
  margin-bottom: 60px;
}

.filters-form-labels,
.filters-form-selects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.filter {
  padding: 0;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--basic-bg);
  color: var(--border-color);
  font-size: 16px;
  line-height: 130%;
}

/* Main catalog */
.main-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  margin-bottom: 100px;
}

.article {
  display: grid;
  grid-template-columns: 1fr 20px;
}

.article-title {
  grid-column: 1 / 2;
  margin-top: 23px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}

.article-img {
  max-width: 100%;
  height: auto;
  grid-row-start: 1;
  grid-column: 1 / -1;
}

.article-price {
  grid-column: 1 / 2;
}

.article-button {
  width: 18px;
  height: 23px;
  grid-row-start: 2;
  grid-column-start: 2;
  display: block;
  margin-top: 20px;
  margin-right: 3px;
  margin-bottom: 10px;
  background-color: var(--basic-bg);
  background-image: url(assets/svg/favourite.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.main-button-more {
  grid-column: 1 / -1;
  justify-self: center;
}

.button-more {
  margin-top: 28px;
  padding: 28px 105px 25px;
  border: 1px solid var(--text-color);
  background-color: var(--basic-bg);
  color: var(--text-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  cursor: pointer;
}

/* Page footer */
.footer {
  grid-row-start: footer;
  padding: 70px 0;
  background-color: var(--footer-bg);
}

.footer-content {
  display: grid;
  grid-template-columns: 221px 1fr 1fr 350px;
  column-gap: 165px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 130%;
}

.footer-logo {
  display: block;
  margin-bottom: 15px;
}

.footer-rights {
  margin-bottom: 10px;
}

.confidence-link {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.footer-contacts,
.footer-services,
.footer-services-menu {
  display: grid;
  grid-gap: 21px;
}

.contacts-phone,
.contacts-mail,
.services-menu-link {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.social-links {
  display: flex;
  column-gap: 18px;
  list-style: none;
}

.footer-services-menu {
  width: 141px;
  list-style: none;
}

.footer-subscribe-form {
  position: relative;
}

.subscribe-form-input {
  padding-top: 50px;
  padding-bottom: 6px;
  border: none;
  background-color: var(--footer-bg);
  font-size: 16px;
  line-height: 130%;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.subscribe-form-button {
  position: absolute;
  bottom: 13px;
  right: 0px;
}

.subscribe-button {
  width: 26px;
  height: 14px;
  border: none;
  background-color: var(--footer-bg);
  background-image: url(assets/svg/rigth.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
